
.mapContainer {

    height:90%;
    width: 95%;
    overflow: scroll;
    position: relative;
    top: 10;
    right: 0;
    left: 0;
    bottom: 0;
    max-width:  100%;
    max-height: 90%;
    translate: (width/2,height/2);
    align-items: center;
    
}

.quakeContainer {
    
    padding: 0%;
    margin-bottom: 10%;
    width: 100%;
    max-width: 85%;
    max-height: 90%;
    overflow: scroll;
    display: flex !important;
    position: absolute;
    font-weight: regular;
    align-items: justify;
    letter-spacing: 1px;
    
}

ul {
    list-style-type: none !important;
    padding: 0;
    cursor: pointer;
    align-items: justify !important;
}

h1 {

    margin: auto;

}

