

.mapContainer {
    height:100%;
    width: 95%;
    overflow: scroll;
    position: relative;
    top: 10;
    right: 0;
    left: 0;
    bottom: 0;
    max-width:  1024px;
    max-height: 512px;
    translate: (width/2,height/2);
    align-items: center;
    cursor: pointer;
}

.quakeContainer {
    
    padding: 0%;
    height: 90%;
    width: 95%;
    overflow:scroll;
    display: flex !important;
    position: absolute;
    font-weight: regular;
    align-items: justify;
    letter-spacing: 1px;
    
}

ul {
    
    list-style-type: none;
    padding: 0;
    cursor: pointer;
    align-items: justify !important;
}

h1 {

    margin: auto;

}