.mapContainer {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width:  1024px;
    max-height: 512px;
    translate: (width/2,height/2);
    align-items: center;
    
}

.sidebarStyle {

    border-radius: 7px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    opacity: 0.70;
    background-color: #010101;
    color:#64e01c;
    z-index: 1 !important;
    padding: 6px;
    font-weight: regular;
    font-family: 'Roboto Slab', serif;
}